body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1vh 3vh;
    border-bottom: solid #ddd;
    
}

.logo img {
    width: 8.5vh;
    height: auto;
    border-radius: 100%;
    
}

.search-bar input {
    padding: 5px 10px;
    border-radius: 2vh;
    border: 1px solid #ccc;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4vh;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

nav ul li {
    display:grid;
}

.carrinho {
    width: 4vh;
    height: 4vh;
}

.highlight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #300068, #5707a3);
    color: #fff;
    padding: 80px 150px;
    margin-bottom: 70px;
}

.product_container{
    
    display: flex;
    margin: 5vh 20vh;  
}

#product-info{
    margin-left: 20%;
    
}
#text-info{
    margin-top: 10vh;
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;
}

.buy-button {
    background: linear-gradient(to left, #11c700, #53039d);
    color: #fff;
    padding: 2vh;
    margin-left: 10%;
    margin-top: 40%;
    border-radius: 2vh;
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* This is new, makes it smooooooth operatooooor */
    font-size: 1.2em; /* Increase font size */
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }
.buy-button:hover {
    background: linear-gradient(to right, #11c700, #53039d); /* Reverse gradient on hover. This makes the user entartained, good thing for a buy button, huh?*/
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
}
  
.buy-button:active {
    transform: scale(0.95); 
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-background {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 21vh;
    width: 50vh;
    height: 50vh;
    background: linear-gradient(to left, rgba(49,13,78,1), rgba(0,0,0,1));
    border-radius: 5%;
    transition: 0.30s ease-in;
    
  }
.caneca-atletica{
    width: 60vh;
    height: 60vh;
    transition: all 1s ease-in-out; 
    
}
.caneca-atletica:hover {
    transform: scale(1.2) rotate(5deg); /* Adding rotate on hover */
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
  
}
.image-background:hover {
      transform: scale(1.2) ; /* Adding rotate on hover */
      box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.5); /* Add a shadow so it looks like is sticking out of the page*/
      
      
    }

.social-media {
    display: flex;
    gap: 3vh; 
    
}

.social-icon {
    width: 5vh;
    height: 5vh;
    transition: transform 1s, filter 1s;
    border-radius: 30%;
}

.social-icon:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    transform: scale(1.05); 
    cursor: help;
}


footer {
    background: linear-gradient( #53039d, #1e002f);
    color: #fff;
    padding: 1vh 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 3vh;
}

footer a {
    color: #fff;
    text-decoration: none;
}
 

.description-box{
    flex: auto;
    margin:auto;
    border-radius: 2vh;
    width: 60%;
    height:fit-content;
    background: linear-gradient(rgba(49, 13, 78, 0.475), #ffffff);
   /* border: 1px solid #ccc; Esse aqui também fica legal. Opção caso n gostem da caixa de descrição*/
}
#description{
    padding: 2vh;
}
