body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 20px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 50px;
}

.logo img {
    width: 8vh;
    height: auto;
    border-radius: 100%;
}

.search-bar input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

.cart-icon {
    font-size: 24px;
}

.highlight {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #3a007d, #5707a3);
    color: #fff;
    padding: 80px 150px;
    margin-bottom: 70px;
}

.product-image img {
    width: 380px;
    height: auto;
}

#caneca_highlight {
    transition: scale 1.45s;
}

#caneca_highlight:hover {
    scale: 1.15;
}

.product-details {
    max-width: 400px;
}

.product-details h1 {
    margin: 0 0 10px;
}

.product-details .price {
    font-size: 24px;
    margin: 10px 0;
}

.buy-button {
    background-color: #be4dff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.buy-button:active{
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.product-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

.product-card {
    background-color: #6b07d7;
    color: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
}

.product-card img {
    width: 200px;
    height: auto;
    transition: scale 0.45s;
}

.product-card img:hover {
    scale: 1.2;
}

.product-card h2 {
    margin: 10px 0;
}

footer {
    background-color: #6b07d7;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

